// FONTS

$logo-font: proxima-nova-extra-condensed, sans-serif;
$logo-weight: 700;
$heading-font: proxima-nova-condensed, sans-serif;
$body-text: dolly-new, sans-serif;

// COLORS

$gray:         #333333;
$bg:           #A9717B;
$green:        #2A7567;
$green-hover:  #27574E;
$link-color:   #D999A5;
$dark-red:     #660024;
$white:        #FFFFFF;

//CARD
$card-bg: $gray;

//TEXTAREA
$form-floating-height:            8rem;
$input-border-width:              0;
$input-btn-focus-width:           0;