body {
    color: $white;
    background-color: $bg;
    font-family: $body-text;

    & a {
        color: $link-color;
    }
}


//FONT

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    text-transform: uppercase;
    font-family: $heading-font;
    font-weight: $logo-weight;
}

header,
footer {
        background-color: $gray;
    }