// CUSTOM
@import "components/_variables";
@import "components/_buttons";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// COMPONENTS
@import "components/_header";

body {
    color: $white;
    background-color: $bg;

    & a {
        color: $link-color;
    }

    & #postInput {
        background-color: $gray;
    }

    & .search-wrap {
        background-color: $white;
        padding: 0.5rem;
        height: 2.5rem;

        & #searchInput{
            width: 100%;
            height: 100%;
            border: none;

        }
    }
}

header,
footer {
        background-color: $gray;
    }