// CUSTOM
@import "components/_variables";
@import "components/_buttons";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// COMPONENTS
@import "components/layout.scss";
@import "components/_header";

.card {
    max-width: 45rem;
    width: 100%;
    border-radius: 1.2rem;
    font-family: $heading-font;

    & .login-head-container {

        & img {
            width: 4rem;
        }

        & span {
            font-family: $logo-font;
            font-weight: $logo-weight;
            font-size: 2.7rem;
            text-transform: uppercase;
            justify-self: center;
        }

    }


    & .form-check {
        margin: 1.5rem 0;
    }

    & .user-link {
        font-size: 0.9rem;
    }

    & .btn {
        max-width: 70%;
        font-size: 1.5rem;
    }

    & .form-control:hover {
        background-color: rgb(255, 225, 225) !important
    }

    & .form-text {
        color: #97A4B0;
        font-size: 0.9rem;
    }

    & .col-form-label {
        font-weight: $logo-weight;
    }
}